.exp-card-wrapper {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 20rem;
}

.explore-card-badge {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  right: 5%;
  bottom: 13%;
}

.exp-card-wrapper > h3 {
  width: 20ch;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.explore-card-badge > svg {
  font-size: 1.5rem;
}

.explore-card-badge > svg:hover {
  color: var(--blue);
}

.pfc-overlay {
  position: absolute;
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.playlist-folder {
  z-index: 5;
  bottom: 6%;
}

@media only screen and (max-width: 480px) {
  .exp-card-wrapper > h3 {
    font-size: 15px;
    width: 14ch;
  }
}
