.cat-card-wrapper {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: 2px solid rgba(249, 249, 249, 0.13);
  box-shadow: rgb(0 0 0/75%) 0px 26px 30px -10px;
  cursor: pointer;
  transition: all 0.3s;
}

.cat-card-img {
  position: relative;
  z-index: 1;
}

.cat-card-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transform: scale(1.025);
}

.cat-card-wrapper:hover {
  transform: scale(1.05);
  border: 2px solid rgba(249, 249, 249, 0.8);
  box-shadow: rgb(0 0 0/ 80%) 0px 26px 30px -10px;
}

.cat-card-wrapper:hover .cat-card-video {
  opacity: 1;
}
