.sidenav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4.4rem);
  width: 100%;
  max-width: 6rem;
  gap: 1rem;
  background-color: var(--nav-body);

  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.sidenav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 1.25px;
  width: 100%;
  padding-block: 0.5rem;
}

.sidenav-section:hover {
  background-color: #313131;
  cursor: pointer;
}

.sidenav-section > p {
  font-size: 12px;
}

.sidenav > a {
  text-decoration: none;
  color: unset;
}

.sidenav-active {
  background-color: var(--blue);
}

@media only screen and (max-width: 480px) {
  .sidenav {
    max-width: 4rem;
  }
  .sidenav-section > p {
    display: none;
  }
}
