.single-play-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 58rem;
  margin-inline: auto;
  width: 100%;
  gap: 0.8rem;
}

.sp-iframe {
  border-radius: 10px;
  width: 100%;
  height: 31.25rem;
}

.sp-listing-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
}

.sp-icons {
  display: flex;
  gap: 1.2rem;
  position: absolute;
  right: 1%;
}

.sp-icon-sec {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.sp-icon-sec > svg:hover {
  color: var(--blue);
}

@media only screen and (max-width: 768px) {
  .sp-icon-sec > p {
    display: none;
  }

  .sp-listing-header > h2 {
    font-size: 20px;
    width: 20ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .sp-listing-header > p {
    font-size: 14px;
    text-align: justify;
  }
}

@media only screen and (max-width: 480px) {
  .sp-iframe {
    height: 15rem;
  }

  .sp-listing-header > h2 {
    font-size: 16px;
    width: 15ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .sp-listing-header > p {
    font-size: 12px;
    text-align: justify;
  }

  .sp-icon-sec > svg {
    font-size: 1rem;
  }
}
